.u-section-1 .u-sheet-1 {
  min-height: 189px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ed41b64f-2013-87d2-3f5e-74c3750c23b1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-text-1 {
  font-family: Arkhive;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 230px 101px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 489px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 53px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  min-height: 434px;
  background-image: url("images/IMG_20220619_150226.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 274px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 411px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 259px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 13px;
}.u-section-5 .u-sheet-1 {
  min-height: 376px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 433px;
  margin-top: -56px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-6 .u-text-1 {
  font-family: Arkhive;
  font-weight: 500;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 280px 0 305px;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  line-height: 1.4;
  margin: 23px 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 643px;
  margin-top: 70px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-5 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-6 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 205px;
    margin-right: 180px;
    width: 556px;
  }

  .u-section-6 .u-text-2 {
    width: 746px;
  }

  .u-section-6 .u-gallery-1 {
    height: 530px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-6 .u-back-image-1 {
    width: auto;
  }

  .u-section-6 .u-back-image-2 {
    width: auto;
  }

  .u-section-6 .u-back-image-3 {
    width: auto;
  }

  .u-section-6 .u-back-image-4 {
    width: auto;
  }

  .u-section-6 .u-back-image-5 {
    width: auto;
  }

  .u-section-6 .u-back-image-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 95px;
    margin-right: 70px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 930px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3205px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2838px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2185px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1818px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 18px;
}.u-section-9 .u-sheet-1 {
  min-height: 937px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: -14px;
  margin-bottom: 10px;
}

.u-section-9 .u-image-1 {
  background-image: url("images/IMG_20220619_150608.jpg");
  background-position: 50% 50%;
  min-height: 467px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-9 .u-container-layout-1 {
  padding: 50px 30px 73px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 467px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0 85px;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  background-image: none;
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 51px 0 36px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 474px;
}

.u-section-9 .u-container-layout-3 {
  padding: 16px 51px 106px;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-9 .u-image-2 {
  background-image: url("images/53e0c8bc-ff48-0abd-bc60-04a207dcf2d8.jpg");
  background-position: 50% 50%;
  min-height: 474px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 30px 78px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-9 .u-image-1 {
    min-height: 385px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 440px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-9 .u-image-2 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-9 .u-image-1 {
    min-height: 295px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    width: 355px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-2 {
    min-height: 299px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-9 .u-image-1 {
    min-height: 443px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 449px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-9 .u-image-1 {
    min-height: 279px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-image-2 {
    min-height: 283px;
  }
}.u-section-10 .u-video-1 {
  min-height: 643px;
}

@media (max-width: 991px) {
  .u-section-10 .u-video-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-video-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-video-1 {
    min-height: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 13px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 750px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1780px;
  }
}@font-face {
  font-family: 'Arkhive';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Arkhive.ttf);
}